*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    overflow: hidden;
}
body{
    background-color: #e6e6e6;
}


.nav-belt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(39, 37, 37);
    position: fixed;
    z-index: 3;
}


.logo-policy-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}

.logo-wrapper{
    width: 70%;
    height: 4em;
    place-items: center;
    display: grid;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 80%;
}

.logo-text{
    color: white;
    font-family: 'Mandali', sans-serif;
}
.policy-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    height: 4em;
    width: 10%;
}

.policy{
    
    font-size: 1em;
    color: rgb(197, 196, 196);
    font-family: 'Roboto Flex', sans-serif;
}

.search-bar-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    width: 50%;
    height: 4em;
    margin-left: 25%;
    align-items: center;
}

.search-bar{
    margin: 1em;
    width: 50%;
    height: 50%;
}

.search-btn{
    margin-bottom: 0.3rem;
    position: relative;
    right: 1rem;
    width: 7%;
    height: 50%;
    cursor: pointer;
    background-color: black;
    border: none;
    mix-blend-mode: color-dodge;
    color: black;
    /* border-radius: 5px; */
}
.search-bar-wrapper-mobile{
    display: none;
}

.profile-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.7em;
    width: 6%;
    height: 4em;;
    
    transition: 0.3s;
}

.profile-icon{
    width: 2rem;
    cursor: pointer;
}



.menu-ul{
    z-index: 12;
    display: flex;
    flex-direction: column;
    top: 5rem;
    right: 1rem;
    background-color: #514f4f;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    list-style: none;
    gap: 1rem;
    text-decoration: none;
    padding: 0;
}
.menu-ul li a{
    color: white;
}
.menu-ul li{
    /* color: white; */
    padding: 1rem;
    cursor: pointer;
    width: 100%;
}
.name{
    text-align: center;
    background-color: white;
    color: black;
    /* font-weight: bold; */
    font-size: 1.5rem;
}

.signin-link li{
    color: white;
}
.register-link li{
    color: white;
}
.menu-ul li:hover{
    background-color: black;
}
.name:hover{
    background-color: white !important;
    color: black !important;
}

.signin-link{
    text-decoration: none;
}

.register-link{
    text-decoration: none;
}
.fav-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.7em;
    width: 6%;
    height: 4em;;
    cursor: pointer;
    transition: 0.3s;
}
.fav-icon{
    width: 40%;
}

.fav-icon-wrapper:hover{
    transform: scale(1.1);
    color: white;
 }

 .cart-icon-container{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
 }
 .cart-icon-container p{
    color: white;
 }

.cart-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    margin-top: 0.6em;
    height: 4em;
    transition: 0.3s;
    cursor: pointer;
}
.search-icon{
    width: 50%;
    margin-inline: auto;
}

.cart-icon{
    width: 2.5rem;
}

.cart-icon-wrapper:hover{
    transform: scale(1.1);
    color: white;
 }

 .navbar-wrapper{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0px 15px 15px -15px #969696;
    background-color: white;
    position: relative;
    top: 4rem;
}

 .navbar-content{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-size: 1.1em;
    font-family: 'Roboto Flex', sans-serif;
    cursor: pointer;
    transition-duration: 0.1s;
 }

 .navbar-content:hover{
    text-decoration: underline;
 }

 .nav-icon{
    width: 100%;
    height: 3em;
 }

 .navbar-wrapper a{
    text-decoration: none;
    color: #514f4f;
 }

 #market-txt{
    font-size: 2rem;
    color: white;
    display: none;
 }
.navbar-wrapper button{
    border: none;
    background-color: white;
}
 .navbar-men{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    border: none;
 }
 .men-products{
    color: white;
    font-size: 1rem;
    list-style: none;
    border: none;
    padding: 10%;
}
ul{
    padding-left: 0;
}
.men-ul{
    width: 15%;
    text-align: center;
    background-color: gray;
    z-index: 3;
    position: absolute;
    top:8.06rem;
    left: 6%;
 }
 
 .men-ul li:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
 }

 .women-ul{
    width: 15%;
    text-align: center;
    background-color: gray;
    z-index: 3;
    position: absolute;
    top:8.06rem;
    left: 23%;
}
.women-ul li:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
 }
 .electronics-ul{
    width: 15%;
    text-align: center;
    background-color: gray;
    z-index: 3;
    position: absolute;
    top:8.06rem;
    left: 41%;
}
.electronics-ul li:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
 }

 .mobiles-ul{
    width: 15%;
    text-align: center;
    background-color: gray;
    z-index: 3;
    position: absolute;
    top:8.06rem;
    left: 59%;
}
.accessories-ul li:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
 }

 .accessories-ul{
    width: 15%;
    text-align: center;
    background-color: gray;
    z-index: 3;
    position: absolute;
    top:8.06rem;
    left: 76%;
}
.mobiles-ul li:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
 }

.men-top-deal-container{
    margin: 1rem ;    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    overflow: hidden;

}

.top-deal-txt{
    font-size:2rem ;
    text-align: center;
}

.men-top-deal {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;  
    margin-top: 1rem;
    margin-inline: auto;
    
}
.abc{
    overflow: hidden;
    width: 60%;

}
.top-deal-avatar{
    cursor: pointer;
    transition: 0.5s;
}

.view-all-container-men{
    position: relative;
    /* top: 2rem; */
    right: 0.5rem;
    width: 133%;
    height: 100%;
    background-color: #7a7a7a;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 10px 15px 0px rgb(70, 70, 70);

}
a{
    text-decoration: none;
    color: #514f4f;
}

.view-all-container-men p{
    transform: rotate(90deg);
}
.view-all-container-men:hover{
    transform: scaleX(1.2);
}

.view-all-container{
    width: 100%;
    height: 100%;
    background-color: #7a7a7a;color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 10px 15px 0px rgb(70, 70, 70);

}

.view-all-container:hover{
    transform: scaleX(1.2);
}



.view-all-container p{
    transform: rotate(90deg);
}


.top-deal-avatar:hover{
    transform: scale(1.1);
}

.product-txt{
    cursor: pointer;
}

.product-txt:hover{
    color: rgb(185, 51, 2);
    text-decoration: underline;
}

.men-top-deal div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.men-top-deal img{
    width: 100%;
    overflow: hidden;
}

/* Category page CSS */

.categorypage-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}
.categorypage-content-wrapper{
    text-align: center;
    margin: 0rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    flex-wrap: wrap;
    /* align-content: space-between; */
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}
/* .categorypage-content-wrapper a button{
    
} */
.categorypage-content-wrapper:hover{
    transform: scaleY( -10px);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}


.categorypage-content-wrapper button{
    font-size: clamp(0.5rem,1rem,1.4rem);
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 70%;
    height: 2.4rem;
    align-self: center;
}

.categorypage-content-wrapper button:hover{
    background-color: black;
    color: white;
}
.category-page-avatar-container{
    height: 40%;
    overflow: hidden;
    height: 15rem;
    margin-top: 2rem;
    /* padding: 2rem; */
}

@media only screen and (min-width:769px) and (max-width:1024px){
    .category-page-avatar-container{
    height: 10rem;
}


    }
@media only screen and (min-width:250px) and (max-width:768px){

    .category-page-avatar-container{
height: 8rem;
}

.categorypage-content-wrapper {
    font-size: 0.7rem;
}

.categorypage-content-wrapper button {
    font-size: 0.7rem;
    height: 1.8rem;
}
}


.categorypage-content-container img{
    width: clamp(4rem,11vw,13rem)
}


/* .filter-container{
   
} */
.sub-catpage-main-container{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: row;   
    text-align: center; 
    gap:2rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px 5px;
    padding: 1rem;
    justify-content: space-around;
    }
    
    

    .filter-subcat{
        position: relative;
        top: 2rem;
        /* left: 3rem; */
        gap: 1rem;
        display: flex;
        flex-direction: column;
        width: 18%;
        padding: 2rem;
        height: 100%;
        /* border: 1px solid gray; */
        text-align: start;

    }

    .filter-subcat p{
        font-size: 1.7rem;
        font-weight: bold;
        border-bottom: 1px solid gray;
    }

    .filter-subcat a:hover{
        color: orangered;
    }

    .vertical-line{
        width: 1px;
        height: 60rem;
        border: 1px solid black;
    }

.subcat-content-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subcatpage-content-wrapper{
    display: flex;
    flex-direction: column;
   margin-left: 1rem;
   margin-top: 2rem;
   width: 40%;
   align-self: center;
}

.subcatpage-avatar-container img{
    width: 100%;
    height: 20rem;
    mix-blend-mode: darken;
    object-fit: contain;
}

.subcatpage-content-wrapper button{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 40%;
    height: 2rem;
    align-self: center;
}

.subcatpage-content-wrapper button:hover{
    background-color: rgb(70, 70, 70);
    color: white;
}

.subcat-page-heading{
    font-size: 3rem;
    text-align: center;
    color: rgb(116, 115, 115);
}

.cat-page-heading{
    font-size: clamp(1.5rem, 3vw, 4rem);
        text-align: center;
    color: rgb(116, 115, 115);
    position: relative;
    top: 4.5rem;
}
.category-container{
    margin-top: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px 5px;

}

.detail-main-container{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5rem;
    width: 100%;
    background-color: white;
    justify-content: center;
    gap: 3rem;
    height: 40rem;
}

.left-avatar-wrapper{
    width: 40%;
    margin-top: 3%;
}

.left-avatar-wrapper img{
    width: 90%;
    height: 75%;
    object-fit: contain;
}

.right-desc-wrapper{
    margin-top: 3%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.detail-product-name{
    font-size: 2.6rem;
    
}

.detail-product-rating{
  font-size: 1.7rem;  
}

.detail-product-price{
    font-size: 1.7rem;  
}

.detail-product-desc span{
    font-size: 1.2rem;
}
.detail-product-desc{
    font-size: 1rem;  
}

.cart-btn{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 40%;
    height: 2rem;
    align-self: center;
}

.cart-btn:hover{
    background-color: rgb(61, 61, 61);
    color: white;
}

.buy-btn{
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    width: 40%;
    height: 2rem;
    align-self: center;
}

/* .loading-cat{
    width: 30px;
    height: 50vh;
    animation-name: rotate;

}
@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 180deg;
    }
} */

.buy-btn:hover{
    background-color: transparent;
    color: black;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn-container button{
    height: 2.5rem;
}

.detail-ul li{
    list-style-position: inside;
}

.footer-main-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    /* position: relative;
    top: 6rem; */
    
}

.footer-category-wrapper p{
    color: white;
}

.footer-category-wrapper p:hover{
    text-decoration: underline;
}

.rules-footer-wrapper p{
    color: white;
}


.women-accessories-top-deal-container{
    margin-inline:auto ;
    width: 98%;
    display: flex;
    background-color: white;
    justify-content: space-around;
    /* gap: 2rem; */
    text-align: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-bottom: 1rem;
}

.women-top-deal-card{
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.women-accessories-top-deal-container img{
    width: 50%;
    height: 8rem;
    object-fit: contain;
}

.women-new{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem ;
}

.women-new div{
    flex: 1 0 220px;   
}
.women-new a{
    flex-basis: 50%;
}
.women-top-deal-card p{
    font-size: 2rem;
    text-align: center;
}

.accessories-top-deal-card{
    /* border: 1px solid black; */
    width: 40%;
    display: flex;
    flex-direction: column;
}

.accessories-top-deal-card p{
    font-size: 2rem;
    text-align: center;
}


.order-wrapper{
    width: 90%;
    background-color: rgb(255, 255, 255);
    /* height: 100%; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* position: relative;
    top: 5rem; */
    margin:6rem auto 1rem;
    /* margin-inline:auto ; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 2rem;
    flex: 1;
    padding: 1rem;
    min-height: 50vh;
    justify-content: space-around;
}

.product-info-cart{
    /* border: 1px solid black; */
    width: 45%;
    height: 100%;
    
    
}

.total-amount-cart{
    /* background-color: rgb(105, 105, 105); */
    position: sticky    ;
    right:7%;
    /* bottom: 10%; */
    margin-bottom: 15%;
    width: 40%;
    height: 16rem;
    border: 1px solid black;
    border-radius: 10px;
    /* padding: 1rem; */
    margin-top: 1rem;
    /* position: fixed;
    right: 6rem;*/
} 

.remove-btn{
    position: relative;
    top: 10px;
    border: 1px solid rgb(165, 46, 2);
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    border-radius: 10px;
}

.remove-btn:hover{
    background-color: rgb(165, 46, 2);
    color: white;
}

.total-amount-cart .p1{
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: start;
    font-size: 2rem;
    color: white;
    background-color: #282828;
}

.total-amount-cart .p2{
    text-align: center;
    font-size: 1rem;
    color: rgb(169, 169, 169);
    border-bottom: 1px solid black;

}

.total-amount-cart .p4{
    font-size: 2rem;
    text-align: center;
}

.total-amount-cart .p3{
    /* text-align: start; */
    font-size: 1.7rem;  
    color: rgb(79, 79, 79);
}

.total-place-order-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.total-place-order-wrapper button{
    font-size: 1.2rem;
    padding: 5px;
    /* transform: translateY(0%); */
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    height: 2.4rem;
    /* align-items: center; */
    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
}
.total-place-order-wrapper button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.none{
    display: none;
}

.cart-imgs-detail-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 1rem 1rem 3rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cart-imgs-detail-wrapper img{
    width: 45%;
    height: 15rem;
    object-fit: contain;
    
}

.detail-button-wrapper{
   transform: translateY(15%);
    text-align: center;
    
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container div{
    color: white;
    background-color: rgb(88, 87, 86);
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border:1px solid black;
}

/*MyAcount*/
.acount-main-container{
    width: 90%;
    /* background-color: white; */
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 6rem;
}

/* .acount-details{

} */
.acount-details h3{
    margin-top: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.acount-details p{
padding: 1rem;
font-size: 2rem;
}
.profile-container{
    width: 30%;
    background-color: white;
    height: 70vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    text-align: center;
}
.profile-container button{
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}
.profile-container h2{
    background-color: black;
    color: white;
    padding: 2rem;
}

.profile-container button:hover{
    background-color:rgb(231, 231, 231) ;
}

.info-container{
    width: 60%;
    background-color: white;
    height: 100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


/*Search Products*/
.search-product-main-container{
    position: relative;
    top: 5rem;
    width: 95%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-inline: auto;
    height: 100%;
    text-align: center;
}

.search{
    width: 30%;
}

.add-to-cart{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 40%;
    height: 2rem;
    align-self: center;
    transition: 0.2s ease;
}

.add-to-cart:hover{
    background-color: rgb(76, 76, 76);
    color: white;
}

.search-product-wrapper{
    /* gap: 2rem; */
    display: flex;
    flex-direction: column;
    /* width: 35%; */
    height: 100%;
    padding: 2rem;
    transition-duration: 0.3s;
}


.search-product-wrapper img{
    width: 100%;
    object-fit: contain;
    height: 25rem;
}

.wrap {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* margin: auto; */
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    color: #000000;
    display: inline-block;
    margin-left: 5px;
  }
  
  .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #c2323e;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }
  
  @keyframes bounce {
    0% {
      top: 30px;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: 15px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }


.load-more{
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 6rem;
    height: 100%;
    margin-inline: auto;
    background-color: rgb(149, 148, 148);
    border-radius: 10px;
}
.load-more:hover{
    background-color: #000000;
    color: white;
}

/* media query */


 @media only screen and (min-width:250px) and (max-width:768px){

.search-product-main-container{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size:0.8rem ;
}


.search{
    width: 100%;
}
.search-product-wrapper{
    /* width: 80%; */
    justify-content: center;
}




    .nav-belt{
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        background-color: rgb(39, 37, 37);
        padding: 0;
    }

    .logo-policy-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        position: relative;
        right: 0rem;
        margin-left: 1.5rem;
    }

    .policy{
        font-size: 0.8rem;
    }

    .policy-wrapper{
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        height: 4em;
        width: 10%;
    }
 

    .logo{
        width: 4.5rem;
        
    }  

    .navbar-wrapper{
        width: 100%;
        margin-top: 0.5rem;
    }
    .navbar-content{
    
        font-size: 75%;
    }

  .fav-icon-wrapper{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.7em;
    height: 4em;
    transition: 0.3s;
  }
  .fav-icon{
    width: 55%;
  }
  .cart-icon-wrapper{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.7em;
    height: 4em;
    transition: 0.3s;
  }
  .cart-icon{
    width: 2rem;
  }

  .profile-icon-wrapper{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.7em;
    height: 4em;
    transition: 0.3s;
  }
  .profile-icon{
    width: 2rem;
  }
  .search-bar-wrapper{
    width: 100%;
  }
  .search-bar{
    margin: 0;
    width: 100%;
    height: 1.8rem;
  }
  .search-btn{
    width: 14%;
    position: relative;
    left: 0.1rem;
    /* bottom: 0.2rem; */
  }

 .search-icon{
    width: 1.7rem;
    margin-inline: auto;
}

.abc{
    width: 100% !important;
}

.menu-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 5rem;
    right: 0rem;
    background-color: #514f4f;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    list-style: none;
    gap:0;
    text-decoration: none;
    gap: 0.5rem;
    text-align: center;
}

.menu-ul li{
    /* color: white; */
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    }
.navbar-men{
    position: relative;
    bottom: 0.6rem;
}

    .search-bar-wrapper{
        display: none;
    }
    .search-bar-wrapper-mobile{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: gray;
        justify-content: space-between;
        margin-bottom: 5%;
        top: 5rem;
        width: 99.5%;
    }

    #market-txt{
        color: white;
        display: block;
        font-size: 1.5rem;
     }

     .search-icon-mobile{
        width: 30%;
       
     }
     .cart-icon-container{
        margin-right: 0.5rem;
     }

     .men-ul{
        width: 93vw;
        left: 0px;
        top: 4.7rem;

     }

     .women-ul{
        width: 100%;
        left: 0;
        top: 6.06rem;

     }

     .electronics-ul{
        width: 100%;
        left: 0;
        top: 6.06rem;
        
    }

     .mobiles-ul{
        width: 100%;
        left: 0;
        top: 6.06rem;

     }
     .accessories-ul{
        width: 100%;
        left: 0;
        top: 6.06rem;
     }

     .men-products{
        padding: 3%;
     }

     /* homepage top deal*/

     .men-top-deal{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

     }

     .men-top-deal div{
        width: 50%;
     }
     .men-tshirt-top-deal-wrapper{
        width: 100%;
     }

     .men-top-deal img{
        height: 10rem;
        object-fit: contain;
     }

     .view{
        display: none;
     }

     .view-all-container-men{
        display: none;
        width: 100%;
        margin-inline: auto;
        right: 0;
    }
    
    .view-all-container-men p{
        rotate: 0deg;
        text-align: center;
        transform: translateY(25%);
     }
    
     .view-all-container p{
        rotate: 0deg;
        text-align: center;
        transform: translateY(25%);  
     }
       
     .women-accessories-top-deal-container{
        flex-direction: column;
        align-items: center;
        width: 92%;
        
    }
    
    .women-top-deal-card{
        border-bottom: 1px solid gray;
        width: 100%;
        margin-bottom: 1rem;
     }

     .accessories-top-deal-card{
        flex-wrap: wrap;
        width: 100%;

     }
       
     /*Detail Page Css*/
     .detail-main-container{
        flex-direction: column;
        top: 5rem;
        align-items: center;
        gap: 0;
        margin-top: 0;
        text-align: center;
        height: auto;
     }

     .detail-product-name{
        font-size: 1rem;
     }

     .left-avatar-wrapper{
        margin-top: 15%;
     }

     .right-desc-wrapper{
        width: 80%;
     }

     /* Subcat Page*/
     .vertical-line{
        display: none;
     }
     .filter-subcat{
        display: none;
    }

    .sub-catpage-main-container{
    gap: 0;
    }

    .subcat-content-container{
        justify-content: center;
        margin-inline:auto ;
        flex-direction: column;
    }

    .subcatpage-content-wrapper{
        display: flex;
        flex-direction: column;
       margin-left: 1rem;
       margin-top: 2rem;
       width: 80%;
       align-self: center;
    }

    .subcatpage-content-wrapper button{
        width: 100%;
    }


    /*Cart*/

    .order-wrapper{
        flex-direction: column;
        align-items: center;
    }

.product-info-cart{
    width: 90%;
}

    .total-amount-cart{
        position: relative;
        /* bottom: 2rem; */
        height: 9rem;
        width: 90%;
        right: 0;
        z-index: 2;
        border: 0;
    }
    
    .total-amount-cart .p1{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        font-size: 1rem;
        border-radius: 0;
        padding: 0.5rem;
        position: relative;
        top: 1rem;
    }
    .total-amount-cart .p4{
        /* display: none; */
        font-size: 1.4rem;
    }
    .total-amount-cart .p3{
        /* display: none; */
        font-size: 1.2rem;
    }

    .total-place-order-wrapper{
        /* position: relative; */
        background-color:white ;
        z-index: 2;
        
    }


    .total-place-order-wrapper button{
        /* padding: 0.2rem; */
        font-size: 1rem;
        /* transform: translateY(8px); */
        border-radius: 3px;
        height: 2rem;
    }
}





@media only screen and (min-width:250px) and (max-width:1024px){
.categorypage-content-wrapper{
    width: 33%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    top: 2px;
}

.categorypage-content-container{
    background-color: white;
}

.add-to-cart{
    font-size: 0.6rem;
}
}
